tap "deskflow/homebrew-tap"

brew "gh"
brew "mise"
brew "python@3.12"
brew "azure-cli"
brew "glib"
brew "chezmoi"
brew "cocoapods"
brew "codex"
brew "unbound"
brew "gnutls"
brew "harfbuzz"
brew "libass"
brew "libmicrohttpd"
brew "librist"
brew "pango"
brew "tesseract"
brew "ffmpeg"
brew "git-lfs"
brew "htop"
brew "miller"
brew "node"
brew "scrcpy"
brew "yarn"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "android-platform-tools"
cask "chatgpt"
cask "claude-code"
cask "deskflow"
cask "docker-desktop"
cask "fork"
cask "google-chrome"
cask "iterm2"
cask "linear-linear"
cask "mockoon"
cask "notion"
cask "ngrok"
cask "obsidian"
cask "rapidapi"
cask "slack"
cask "visual-studio-code"
cask "xcodes-app"

vscode "arjun.swagger-viewer"
vscode "davidnussio.vscode-jq-playground"
vscode "humao.rest-client"
vscode "jq-syntax-highlighting.jq-syntax-highlighting"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"

mas 'Bear', id: 1091189122
mas '1Password for Safari', id: 1569813296
