tap "homebrew/bundle"

brew "gh"
brew "mise"
brew "python@3.12"
brew "azure-cli"
brew "glib"
brew "chezmoi"
brew "cocoapods"
brew "unbound"
brew "gnutls"
brew "harfbuzz"
brew "libass"
brew "libmicrohttpd"
brew "librist"
brew "pango"
brew "tesseract"
brew "ffmpeg"
brew "git-lfs"
brew "htop"
brew "miller"
brew "node"
brew "scrcpy"
brew "yarn"

cask "1password"
cask "1password-cli"
cask "alfred"
cask "android-platform-tools"
cask "chatgpt"
cask "deskflow"
cask "docker-desktop"
cask "fork"
cask "google-chrome"
cask "iterm2"
cask "mockoon"
cask "ngrok"
cask "obsidian"
cask "rapidapi"
cask "slack"
cask "visual-studio-code"
cask "xcodes-app"

vscode "arjun.swagger-viewer"
vscode "davidnussio.vscode-jq-playground"
vscode "humao.rest-client"
vscode "jq-syntax-highlighting.jq-syntax-highlighting"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"

mas 'Bear', id: 1091189122
mas '1Password for Safari', id: 1569813296

{{- if eq .location "twyn" }}
tap "azure/functions"
tap "dart-lang/dart"

brew "azure/functions/azure-functions-core-tools@4"

cask "dotnet-sdk"
cask "flutter"
cask "localcan"
cask "postman"
cask "unity-hub"

vscode "azurite.azurite"
vscode "dart-code.dart-code"
vscode "dart-code.flutter"
vscode "ms-azuretools.azure-dev"
vscode "ms-azuretools.vscode-azure-github-copilot"
vscode "ms-azuretools.vscode-azureappservice"
vscode "ms-azuretools.vscode-azurecontainerapps"
vscode "ms-azuretools.vscode-azurefunctions"
vscode "ms-azuretools.vscode-azureresourcegroups"
vscode "ms-azuretools.vscode-azurestaticwebapps"
vscode "ms-azuretools.vscode-azurestorage"
vscode "ms-azuretools.vscode-azurevirtualmachines"
vscode "ms-azuretools.vscode-cosmosdb"
vscode "ms-azuretools.vscode-docker"
vscode "ms-dotnettools.csdevkit"
vscode "ms-dotnettools.csharp"
vscode "ms-dotnettools.vscode-dotnet-runtime"
vscode "ms-vscode.vscode-node-azure-pack"
vscode "quicktype.quicktype"
vscode "redhat.vscode-yaml"
vscode "vscjava.vscode-gradle"

{{- end }}


